if TARGET_GET_BOX

config SYS_VENDOR
	default "jangala"

config SYS_BOARD
	default "get-box"

config SYS_CONFIG_NAME
	default "get-box"

config SYS_TEXT_BASE
	default 0x9f000000

config SYS_DCACHE_SIZE
	default 32768

config SYS_DCACHE_LINE_SIZE
	default 32

config SYS_ICACHE_SIZE
	default 65536

config SYS_ICACHE_LINE_SIZE
	default 32

endif
